@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Poppins", sans-serif;
  --second-font: "Bebas Neue", sans-serif;

}

body,
.font1 {
  font-family: var(--font-sans);
}

.font2 {
  font-family: var(--second-font);
}

.black_arrow .swiper-navigation-icon path {
  fill: #000;
}

.black_arrow .swiper-pagination-bullet {
  background: #000 !important;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 1rem;
}

body .outer_arrow {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.slider_3d .swiper-wrapper {
  align-items: center;
}

.group1:hover img {
  transform: scale(1.02);
  transition: all 0.3s;

}



@media (min-width:1024px) {
  .slider_3d .swiper-slide-next {
    box-shadow: 0px 4px 20px 0px #00000033;
    margin-top: -6px;
    transform: scale(1.2) !important;
    z-index: 99;
  }
}