@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Poppins", sans-serif;
  --second-font: "Bebas Neue", sans-serif;

}

body,
.font1 {
  font-family: var(--font-sans);
}

b,
strong {
  font-weight: 600;
}

.font2 {
  font-family: var(--second-font);
}

.black_arrow .swiper-navigation-icon path {
  fill: #000;
}

.black_arrow .swiper-pagination-bullet {
  background: #000 !important;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 1rem;
}

body .outer_arrow {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.slider_3d .swiper-wrapper {
  align-items: center;
}

.group1:hover img {
  transform: scale(1.02);
  transition: all 0.3s;

}

.left_auto {
  margin-left: auto;
}

.icon_circle {
  width: 6rem;
  height: 6rem;
}

.blog_details article :where(h3, h2, h4, h5, h6) {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 15px;
}

.blog_details article p {
  margin-bottom: 15px;
  font-size: 16px;
}

.blog_details article h2 {
  font-size: 26px;
}

.blog_details article h3 {
  font-size: 24px;
}

.blog_details article h4 {
  font-size: 22px;
}

.blog_details article h5 {
  font-size: 20px;
}

.blog_details article h6 {
  font-size: 18px;
}

.blog_details article h2 {
  scroll-margin-top: 150px;
}

.related_blog button.cursor-pointer {
  display: none !important;
}

@media (min-width:1024px) {
  .slider_3d .swiper-slide-next {
    box-shadow: 0px 4px 20px 0px #00000033;
    margin-top: -6px;
    transform: scale(1.2) !important;
    z-index: 99;
  }
}


@media (max-width:767px) {
  .left_auto {
    margin-left: 0;
  }

  .blog_details article :where(h3, h2, h4, h5, h6) {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .blog_details article p {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .blog_details article h2 {
    font-size: 24px;
  }

  .blog_details article h3 {
    font-size: 22px;
  }

  .blog_details article h4 {
    font-size: 20px;
  }

  .blog_details article h5 {
    font-size: 18px;
  }

  .blog_details article h6 {
    font-size: 17px;
  }
}